@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#logo-container svg {
  width: 250px;
  height: auto;
}

@media only screen and (max-width: 768px) {
  #logo-container svg {
    width: 150px;
    height: auto;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 0px;
}
::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #f6851b;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f6851b;
}
